<%= form_for(@drill) do |form| %>
<% if @drill.errors.present? %>
    <p>
      <%= @drill.errors.full_messages.join(", ") %>
    </p>
  <% end %>
  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div id="answers">
    <div id="answer">
      <%= form.fields_for :answers do |answer|%>
        <%= answer.label :description %>
        <%= answer.text_field :description %>
      <% end %>
    </div>
  </div>
  <%= form.submit %>
<% end %>
